@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
<link href="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />

<link href="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\css\bootstrap-grid.min.css" rel="stylesheet" />
<link href="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\css\bootstrap-grid.css" rel="stylesheet" />
<link href="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\css\bootstrap-reboot.min.css" rel="stylesheet" />
<link href="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\css\bootstrap-reboot.css" rel="stylesheet" />

<h1>Test</h1>
<h3>Temel Bilgiler</h3>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>DEPARTMAN</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Əfsun</td>
        <td>Yusubzade</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Semender</td>
        <td>Yusubzade</td>
    </tr>
</table>

<table class="table table-striped">
    <th>baslik</th>
    <th>Yardim</th>
    <th>Bilgiler</th>
</table>


<script src="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
<script src="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\js\bootstrap.bundle.js"></script>
<script src="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\js\bootstrap.min.js"></script>
<script src="c:\vsproject\aspdotnetcoreyoutube\projectcamp\projectcamp\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>