@using ProjectCamp.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
    <label>İşçi adı soyadı</label>
    <input type="text" asp-for="@Model.Name" class="form-chat-control" />
    <br />
    <button type="submit" class="btn btn-info">Əlavə et</button>
</form>
